<form id="new-Comment" name="newComment" class="form-horizontal">
    <div class="control-group">
    </div>
    <div class="control-group">
    </div>
    <div class="control-group">
        <label for="content" class="control-label">Content</label>
        <div class="controls">
            <input id="content" name="content" type="text"  ng-model="comment.content" placeholder="Enter the Comment content"></input>
        </div>
    </div>
    <div class="control-group">
        <label for="post" class="control-label">Post</label>
        <div class="controls">
            <select id="post" name="post" ng-model="comment.post" ng-options="p as p.id for p in postList">
                <option value="">Choose a Post</option>
            </select>
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <button id="saveComment" name="saveComment" class="btn btn-primary" ng-disabled="isClean() || newComment.$invalid" ng-click="save()"><i class="icon-ok-sign icon-white"></i> Save</button>
            <button id="cancel" name="cancel" class="btn" ng-click="cancel()"><i class="icon-remove-sign"></i> Cancel</button>
            <button id="deleteComment" name="deleteComment" class="btn" ng-show="comment.id" ng-click="remove()"><i class="icon-trash"></i> Delete</button>
        </div>
    <div>
</form>